<form>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" #email />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Display Name</mat-label>
    <input matInput type="text" name="displayname" #displayName />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" #password />
  </mat-form-field>

  <ng-container *ngIf="errorMessage">
    <mat-error>{{ errorMessage }}</mat-error>
  </ng-container>
</form>
<button
  mat-raised-button
  color="primary"
  (click)="submit(email.value, password.value, displayName.value)"
>
  Sign Up
</button>
