<mat-dialog-content>
  <ng-container *ngIf="isSignup; else signInForm">
    <app-sign-up></app-sign-up>
  </ng-container>
  <ng-template #signInForm>
    <ng-container *ngIf="!forgotPassword; else resetPasswordForm">
      <h3>Sign In</h3>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Email" type="email" name="email" #email />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          name="password"
          #password
        />
      </mat-form-field>

      <ng-container *ngIf="errorMessage">
        <mat-error>{{ errorMessage }}</mat-error>
      </ng-container>

      <button
        mat-raised-button
        color="primary"
        (click)="submit(email.value, password.value)"
      >
        Sign In
      </button>
      <a mat-button (click)="forgotPassword = true" class="link"
        >Forgot your Password?</a
      >
    </ng-container>
    <ng-template #resetPasswordForm>
      <h3>Forgot My Password</h3>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Email"
          type="email"
          name="email"
          #resetEmail
        />
      </mat-form-field>
      <div *ngIf="resetMessage">{{ resetMessage }}</div>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!resetEmail.value"
        (click)="resetPassword(resetEmail.value)"
      >
        Reset Password
      </button>
      <button mat-raised-button color="primary" (click)="clearForgottenForm()">
        Cancel
      </button>
    </ng-template>
  </ng-template>

  <firebase-ui
    *ngIf="!forgotPassword"
    (signInSuccessWithAuthResult)="successCallback($event)"
  ></firebase-ui>

  @if(isSignup) {
  <div class="signUpMessage">
    Already have an account?
    <a
      mat-button
      class="link"
      (click)="isSignup = false; forgotPassword = false"
      >Sign In</a
    >
  </div>
  } @else {
  <div class="signUpMessage">
    Don't have an account?
    <a mat-button class="link" (click)="isSignup = true; forgotPassword = false"
      >Sign Up</a
    >
  </div>
  }
</mat-dialog-content>
