<mat-dialog-content>
  <ng-container *ngIf="formState == loginFormStatus.SignUp">
    <app-sign-up></app-sign-up>
  </ng-container>
  <ng-container *ngIf="formState == loginFormStatus.SignIn">
    <app-sign-in
      (loginFormStateChanged)="formStateChanged($event)"
    ></app-sign-in>
  </ng-container>
  <ng-container *ngIf="formState == loginFormStatus.ForgotPassword">
    <app-forgot-password
      (formStateChanged)="formStateChanged($event)"
    ></app-forgot-password>
  </ng-container>

  <firebase-ui
    *ngIf="formState !== loginFormStatus.ForgotPassword"
    (signInSuccessWithAuthResult)="successCallback()"
  ></firebase-ui>

  @if(formState == loginFormStatus.SignUp) {
  <div class="signUpMessage">
    Already have an account?
    <a mat-button class="link" (click)="formState = loginFormStatus.SignIn"
      >Sign In</a
    >
  </div>
  } @else {
  <div class="signUpMessage">
    Don't have an account?
    <a mat-button class="link" (click)="formState = loginFormStatus.SignUp"
      >Sign Up</a
    >
  </div>
  }
</mat-dialog-content>
